<template>
    <div>
        <p v-for="(name) in names" :key="name">
            {{ name.id }} - {{ name.first }} {{ name.last }}
        </p>
        <hr />
        <div class="card" v-for="person in peoples" :key="person">
            <h2>{{ person.name }}</h2>

            <p class="card sub" v-for="friend in person.friends" :key="friend">
                {{ friend }}
            </p>
        </div>
        <hr />
        <div v-for="user in users" :key="user">
            <p v-if="user.age >= 45 && user.age <= 50">Name: {{ user.name }}</p>
            <p v-else-if="user.age >= 30 && user.age <= 44">Name: {{  user.name }}</p>
            <p v-else>Name:{{ user.name }}</p>
        </div>

    </div>
</template>

<script>
export default {
        name: "IterationView",
        data() {
            return {
                users: [
                    { name: 'John', age: 50},
                    { name: 'Jan', age: 34},
                    { name: 'Jean', age: 17},
                    { name: 'Jim', age: 18},
                ],
                names: [
                    { id: 0, first: "P", last: "K" },
                    { id: 1, first: "P", last: "PK" },
                ],
                peoples: [
                    { id: 0, name: "Phalakorn PK", friends: ['Somchai' , 'Somying'] },
                    { id: 1, name: "Varintorn", friends: ['Narapat GG' , 'Wuttipong GB'] },
                ],
            }
        },
    }
</script>
<style>
    .card{
        width: 30rem;
        margin: 1rem auto;
        padding: 0.5rem;
        border: 1px solid black;
    }
    .sub{
        width: initial;
        margin: 0.5rem;
    }
</style>